<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Subscribe</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="../css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom Fonts from Google -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body>

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://www.jmmgrp.com">
                	<span class="glyphicon glyphicon-fire"></span>
                	JMM GROUP, LLC
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="https://www.jmmgrp.com">Home</a>
                    </li>
                    <li>
                        <a href="../templates/products.html">Products</a>
                    </li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="../templates/subscribe.html">Subscribe</a></li>
                            <li><a href="../templates/projects.html">Projects</a></li>
							<li><a href="../templates/blog.html">Research & Investment Blog</a></li>
							<li><a href="../templates/freelance.html">Freelance Services</a></li>
						</ul>
					</li>
                    <li>
                        <a href="https://share.streamlit.io/jordanleefinance/streamlit/main/about_me_page.py">About Me</a>
                    </li>
                    <li class="contact">
                        <a href="../templates/contact.html">Contact</a>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Subscribe</h1>
                <h1>Today</h1>
                <form action='#' method="POST">
                    <div class="center">
                        <line><label>
                            <input type="text" placeholder="Name" style='text-align: center; color: black' name="name" required>
                        </label></line>
                        <line><label>
                            <input type="text" placeholder="Email address" style='text-align: center; color: black' name="email" required>
                        </label></line>
                        <p><label>
                            <input type="checkbox" checked="checked" name="biweekly_subscribe"> Bi-Weekly Newsletter
                        </label></p>
                        <p><label>
                            <input type="checkbox" checked="checked" name="monthly_subscribe"> Monthly Newsletter
                        </label></p>
                    </div>
                            <div>
                                <input type="submit" class="btn btn-primary btn-lg" value="Subscribe">
                            </div>
                </form>
            </div>
        </div>
    </header>
    <footer class="page-footer">

    	<!-- Contact Us -->
        <div class="contact">
        	<div class="container">
				<h2 class="section-heading">Contact Us</h2>
				<p><span class="glyphicon glyphicon-earphone"></span><br> +1 (703)-597-9155</p>

                <p><a href="mailto:jmmgroupva@gmail.com" style='color: whitesmoke' type="button" class="glyphicon glyphicon-envelope"></a><br> jmmgroupva@gmail.com</p>

        	</div>
        </div>

        <!-- Copyright etc -->
        <div class="small-print">
        	<div class="container">
        		<p>Copyright &copy; JMM GROUP, LLC est. 2021</p>
        	</div>
        </div>

    </footer>

    <!-- jQuery -->
    <script src="../js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../js/jquery.easing.min.js"></script>

    <!-- Custom Javascript -->
    <script src="../js/custom.js"></script>

</body>
</html>