<!DOCTYPE html>
<!-- Template by Quackit.com -->
<!-- Images by various sources under the Creative Commons CC0 license and/or the Creative Commons Zero license.
Although you can use them, for a more unique website, replace these images with your own. -->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>JMM Group, LLC</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="../css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom Fonts from Google -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            // https://dashboard.emailjs.com/admin/integration
            import { init } from '@emailjs/browser';
            init('5FSmD-GxgRRcSKkWH');
        })();
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://www.jmmgrp.com">
                	<span class="glyphicon glyphicon-fire"></span>
                	JMM GROUP, LLC
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="https://www.jmmgrp.com">Home</a>
                    </li>
                    <li>
                        <a href="../templates/products.html">Products</a>
                    </li>
					<li>
						<a href="../templates/services.html">Services </a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="../templates/subscribe.html">Subscribe</a></li>
                            <li><a href="../templates/projects.html">Projects</a></li>
							<li><a href="../templates/blog.html">Research & Investment Blog</a></li>
							<li><a href="../templates/freelance.html">Freelance Services</a></li>
						</ul>
					</li>
                    <li>
                        <a href="https://share.streamlit.io/jordanleefinance/streamlit/main/about_me_page.py">About Me</a>
                    </li>
                    <li class="contact">
                        <a href="../templates/contact.html">Contact</a>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
    <div id="unsubscribe">
        <div class="letter">
            <div class="shadow"></div>
            <div class="background"></div>
            <div class="body">
                <div class="game idle">

                    <div class="headline">
                        <span>Win Ping Pong to unsubscribe</span>
                        <div class="close">
                            <svg viewBox="0 0 24 24">
                                <path d="M19.7,4.3c-0.4-0.4-1-0.4-1.4,0L12,10.6L5.7,4.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l6.3,6.3l-6.3,6.3 c-0.4,0.4-0.4,1,0,1.4C4.5,19.9,4.7,20,5,20s0.5-0.1,0.7-0.3l6.3-6.3l6.3,6.3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 c0.4-0.4,0.4-1,0-1.4L13.4,12l6.3-6.3C20.1,5.3,20.1,4.7,19.7,4.3z"></path>
                            </svg>
                        </div>
                    </div>

                    <div class="paddle one"></div>
                    <div class="ball"></div>
                    <div class="paddle two"></div>

                    <div class="controls">
                        <span>Use <strong>up</strong> &amp; <strong>down</strong> arrow keys or</span>
                        <div>
                            <button class="up">
                                <svg viewBox="0 0 24 24">
                                    <path d="M5.23 10.64a1 1 0 0 0 1.41.13L11 7.14V19a1 1 0 0 0 2 0V7.14l4.36 3.63a1 1 0 1 0 1.28-1.54l-6-5-.15-.09-.13-.07a1 1 0 0 0-.72 0l-.13.07-.15.09-6 5a1 1 0 0 0-.13 1.41z"></path>
                                </svg>
                            </button>
                            <button class="down">
                                <svg viewBox="0 0 24 24">
                                    <path d="M18.77 13.36a1 1 0 0 0-1.41-.13L13 16.86V5a1 1 0 0 0-2 0v11.86l-4.36-3.63a1 1 0 1 0-1.28 1.54l6 5 .15.09.13.07a1 1 0 0 0 .72 0l.13-.07.15-.09 6-5a1 1 0 0 0 .13-1.41z">
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="start">
                        <button>Start</button>
                        <small>or press up/down key</small>
                    </div>

                </div>
            </div>
        </div>
        <h1>Unsubscribe</h1>
        <p>We are sorry to see you go!</p>
        <div class="cta">
            <button class="confirm">
                <a href="../index.html/index.html"> Confirm</a>
            </button>
        </div>
    </div>

<a class="dribbble" href="https://dribbble.com/ai" target="_blank"><img src="https://cdn.dribbble.com/assets/dribbble-ball-mark-2bd45f09c2fb58dbbfb44766d5d1d07c5a12972d602ef8b32204d28fa3dda554.svg" alt=""></a>
</body>
</html>
